html, body {
  font-size: 20px;
}

.pencadre{
  border:4px; 
  border-style:solid; 
  border-color: #034b6f; 
  background-color: #EEF3F9; 
  padding: 1em;
  text-align: left ;
  border-radius : 5px 4px 3px 2px;
  font-weight: 300;
  font-size: 22px;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src:url("../src/YanoneKaffeesatz-Bold.ttf");
}
@font-face {
    font-family: 'Raleway';
    src:url("../src/Raleway-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h3 { /* Header 3 */
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #034b6f ;
}

h2 { /* Header 2 */
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #034b6f ;
}

h1 { /* Header 1 */
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #034b6f ;
}

.toggle {
  display: none;
}

legend{
  color: #034b6f ;
}

.pquestion {
  color: darkgreen;
  font-weight: bold;
}

.centered {
  display: flex;
  justify-content: center;
}

details summary {
  padding: 1em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 26px;
  color: #034b6f ;
  text-align: center;
}
details summary::before {
  content: "▶";
}
details summary:hover::before {
  content: "▷";
}
details summary:active::before {
  content: "▼";
}
details summary:focus::before {
  content: "▼";
}