/* ==========================================================================
   Variables
   
   See:
   https://quarto.org/docs/output-formats/html-themes.html#sass-variables
   https://getbootstrap.com/docs/5.0/layout/grid/#variables
   ========================================================================== */

// font families
$font-family-sans-serif:      "Raleway" !default;
$headings-font-family:        "Raleway" !default;
